{% extends 'base.html' %}

{% block core %}
    <div class="col-lg-6 p-0 site-content__inner-right">
        <div class="site-content__page">
            <div class="site-content__page-wrap mCustomScrollbar _mCS_3">
                <div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                     style="max-height: none;">
                    <div id="mCSB_3_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;"
                         dir="ltr">
                        <div class="niko-sc niko-sc--skills mt-5">
                            <div class="niko-sc__title-wrap">
                                <i class="niko-sc__title-icon icon-speedometer"></i>
                                <h3 class="niko-sc__title">Skills</h3>
                            </div>
                            <div class="niko-sc__skills-list">
                                <form action="." method="post">
                                    {% csrf_token %}
                                    <div class="niko-sc__skills-list">
                                        <div class="niko-sc__skills-item active">
                                            <span class="niko-sc__skills-name col-9">{{ s_form.skills }}</span>
                                            <div class="niko-sc__skills-value col-3">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-9">
                                                        <span class="counter">{{ s_form.skill_level }}</span>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1">
                                                        <span>%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="btn btn-success mt-4" type="submit" value="Save">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}